<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPUBud</title>
</head>
<body>
    <h1>GPU Bud</h1>
    <table>
        <caption>Microcenter GPU Listings</caption>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
        </tr>
        {{ range .GPUs }}
        {{ if and (ne .Stock "0") (ne .Stock "n/a") }}
        <tr>
            <td><a href="{{ .Link }}">{{ .Manufacturer }} {{ .Line }} {{ .ProductModel }}</a></td>
            <td>${{ .Price }}</td>
            <td>{{ .Stock }}</td>
        </tr>
        {{ end }}
        {{ end }}
    </table>
</body>
</html>